<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Overloop Automation Test Suite">
    <listeners>
        <listener class-name="com.overloop.qa.ExtentReports.ExtentReportListner"></listener>
    </listeners>

    <test name="Overloop Application Test">

        <classes>
            <class name="com.overloop.qa.testcases.LandingPageTest"></class>
            <class name="com.overloop.qa.testcases.LoginPageTest"></class>
            <class name="com.overloop.qa.testcases.HomePageTest"></class>
            <class name="com.overloop.qa.testcases.PricePageText"></class>


        </classes>
    </test>
</suite>